.hero{
    width:100%;
    position:relative;
    overflow:hidden;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    height: 100vh; 
}


.background {
    position: absolute; 
    top: 0;
    left: 0;
    object-fit: cover; 
    z-index: -1; 
    width: 100vw; 
    height: 100vh;
}

.downbtn{
    position: absolute; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100px; 
    cursor:pointer;

}

.hero-content{
    color: #fff;
    font-size: 110px;
    font-weight: 500;
    line-height: 1.2;

  @keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

.hero-content p {
    margin: 0;
}
.fade-in{
    animation:fadeIn 500ms ease-in-out;
}
