.API {
    margin-top: 50px; /* Adjust this value as needed */
    text-align: center; /* Center the text */
    height: 100vh;
}



.API p {
    font-size: 20px; /* 18px */
    font-weight: 300;
    color: #666666;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 50px;
}

.flight-search {
    display: flex;
    padding: 20px;
    background-color: white;
    width: 80%; 
    margin: 0 auto; 
    border-radius: 10px; 
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.15);
    position: relative;
    height: 200px;
}

.columns{
    display: flex;
    flex-direction: column;
}
    
.dropdowns{
    display: flex;
    flex-direction: row;
}

.filters{
    margin-left: 60px;
}

.dropdowns select {
    font-size: 18px;
   border: none;
}

.input {
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    flex-direction: row;
    display: flex;
    margin-top: 20px;
}

.input-area {
    display: flex;
    gap: 10px; /* Reduce the gap between inputs */
    justify-content: center; /* Center the input fields */
    align-items: center; /* Align inputs vertically */
    width: 120%;
}

@media (max-width: 768px) {
    .input-area {
        width: 90%; /* 90% of container on medium screens */
    }
}

@media (max-width: 480px) {
    .input-area {
        width: 80%; /* 80% of container on smaller screens */
        flex-direction: column; /* Stack inputs vertically */
        gap: 15px; /* Increase space between stacked inputs */
    }
}
